<h1>
    {{ question.question_text }}
</h1>

{% if error_message %} <P> {{error_message}}</P> {% endif %}


<form action="{% url 'polls:vote'  question.id %}" method="post">
{% csrf_token %}
{% for c in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ c.id}}">
    <label for="choice{{ forloop.counter }}"> {{c.choice_text}} </label> <br>

    {% endfor %}

    <input type="submit" value="vote">


</form>







<!--<ul>-->
<!--    {% for c in question_key.choice_set.all %}-->
<!--       <li> {{c.choice_text}}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
